
/*цвет основного текста #212121*/
/* вторичный цыет текста #757575*/
/*белый цвет #FFFFFF*/
/* акцентный цвет #2196F3 */
/* основной цвет фона #FFFFFF*/
/* вторичный цвет фона #2F303A */
/* цвет логотипа #000000 */
:root {
    --primary-text-color: #212121;
    --second-text-color: #757575;
    --white-color: #ffffff;
    --accent-color: #2196F3;
    --primary-background-color: #ffffff;
    --second-background-color: #2F303A;
    --accent-background-color:#2196F3;
}
.list {
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    background: var(--primary-background-color);
    color: var(--primary-text-color);

    font-family: Roboto, sans-serif;
    
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
/* logo */

.logo {
    color:#000000 ;

    font-family: Raleway, cursive;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.logo-accent-color {
    color: var(--accent-color);
}
.logo:hover,
.logo:focus {
    color: var(--accent-color);
}

/* site nav */
.site-nav .link {
    color: var(--primary-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1,4;
    letter-spacing: 0.02em;
}
.site-nav .link.current {
    color: var(--accent-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}


/* contacts */
.contacts a {
    color: var(--second-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.contacts a:hover,
.contacts a:focus {
    color: var(--accent-color);
}

/* hero */
.hero {
    background-color: var(--second-background-color);
}
.hero-title {
    color: #ffffff;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
/* sections */
.section-title {
    color: var(--primary-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.section-text {
    color: var(--second-text-color);
}

/* feature */
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
}
.feature-list .title {
    color: var(--primary-text-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.feature-list .text {
    color: var(--second-text-color);
}

/* work */

/* team */
.team-list .title {
    color: var(--primary-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
}
.team-list .text {
    color: var(--second-text-color);

    font-size: 16px;
    line-height: 1.19;
}

/* footer */
.footer {
    background-color: var(--second-background-color);
}
.footer-logo {
    color: #ffffff;

    font-family: Raleway, cursive;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19x;
}
.footer-logo:hover,
.footer-logo:focus {
    color: var(--accent-color);
}
.footer .adress {
    color: var(--white-color);

    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
} 
.footer .mail,
.footer .phone {
    color: rgba(255, 255, 255, 0.6);

    font-size: 14px;
    line-height: 1.7;
}
.footer .mail:hover,
.footer .mail:focus {
    color: var(--accent-color);
}

.footer .phone:hover,
.footer .phone:focus {
    color: var(--accent-color);
}

/* portfolio page -> filter services section */

.services .button-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    display: flex;
    align-items: center;
    text-align: center;
}
.services .button-title:hover {
    color: var(--white-color);
    background-color: var(--accent-background-color);
}
.services .button-title:focus {
    color: var(--white-color);
    background-color: var(--accent-background-color);
}
.services .title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.services .text{
    font-size: 16px;
    line-height: 1.9;
}

/* button */

.button {
    color: var(--primary-text-color);
    background-color: var(--white-color);

    cursor: pointer;
   
}
.button.primary {
    color: var(--white-color);
    background-color: var(--accent-background-color);
}
.button.secondary {
    color: var(--primary-text-color);
    background-color: #F5F4FA;
}