/*цвет основного текста #212121*/
/* вторичный цыет текста #757575*/
/*белый цвет #FFFFFF*/
/* акцентный цвет #2196F3 */
/* основной цвет фона #FFFFFF*/
/* вторичный цвет фона #2F303A */
/* цвет логотипа #000000 */
:root {
    --primary-text-color: #212121;
    --second-text-color: #757575;
    --white-color: #ffffff;
    --accent-color: #2196F3;
    --primary-background-color: #ffffff;
    --second-background-color: #2F303A;
    --accent-background-color:#2196F3;
}
.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0px;
    margin-bottom: 0px;
}
img {
    display: block;
    width: 100%;
    height: auto;
}
ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
}

body {
    background: var(--primary-background-color);
    color: var(--primary-text-color);

    font-family: Roboto, sans-serif;
    
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

}

header{
    border-bottom: 1px solid #ECECEC;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/* header */

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding: 0 15px;
    /* outline: 2px solid tomato; */
}
/* logo */
.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-nav {
    display: flex;
    align-items: center;
}
.logo {
    color:#000000 ;

    font-family: Raleway, cursive;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    
    margin-right: 93px;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-accent-color {
    color: var(--accent-color);
    
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.logo:hover,
.logo:focus,
.logo:hover .logo-accent-color,
.logo:focus .logo-accent-color {
    color: var(--accent-color);

}

/* site nav */

.site-nav {
    display: flex;
}

.site-nav-item {
    margin-left: 50px;
}

.site-nav-item:first-child {
    margin-left: 0; 
}

.site-nav-link {
    position: relative;

    display: block;
    color: var(--primary-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    /* outline: 1px solid pink; */
    
    padding-top: 32px;
    padding-bottom: 32px;

    /* text-shadow: none; */

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav-link::after{
    position: absolute;
    bottom: 0;
    left: 0;
    /* opacity: 0; */

    content: '';

    display: block;

    width: 0%;
    height: 4px;
    background-color: var(--accent-background-color);
    border-radius: 2px;
}

.site-nav-link.current::after{
    /* opacity: 1;  */
    width: 100%;
} 


.site-nav-link.current {
    color: var(--accent-color);
}

.site-nav-link:hover,
.site-nav-link:focus {
    color: var(--accent-color);
  
}

/* contacts */
.contacts {
    display: flex;
}

.contacts .item + .item {
    margin-left: 50px;
} 

.contacts-mail,
.contacts-tel {
    display: flex;

    color: var(--second-text-color);
    fill: var(--second-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    padding-top: 32px;
    padding-bottom: 32px;

    align-items: center;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-mail{
    width: 16px;
    Height: 12px;
    margin-right: 10px;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-tel {
    width: 10px;
    Height: 16px;
    margin-right: 10px;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.contacts-mail:hover .icon-mail,
.contacts-mail:focus .icon-mail, 
.contacts-tel:hover  .icon-tel,
.contacts-tel:focus  .icon-tel {
    /* color: var(--accent-color); */
    fill: var(--accent-color);
}


.contacts-mail:hover,
.contacts-mail:focus, 
.contacts-tel:hover,
.contacts-tel:focus {
    color: var(--accent-color);
    fill: var(--accent-color);

   }

/* modal */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    z-index: 1;
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;

    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop .modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* z-index: 1; */

    width: 528px;
    height: 581px;
    border-radius: 4px;

    background-color: white;

    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}

.backdrop.is-hidden .modal {
    top: 0;
    width: 0;
    height: 0;
}

.close{
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    padding: 6px;
    border: 1px solid rgba(0, 0, 0, 0.1);;
    border-radius: 50%;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    box-shadow: none;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
  
}

.close:hover,
.close:focus{
    fill: var(--accent-color);
    }

.close-icon{
    width: 18px;
    height: 18px;
}

/* modal registration form */

 .reg-form{
     width: 528px;
     height: 581px;
     border-radius: 4px;
     /* outline: 1px solid gray; */
     padding: 40px;
     
 }
 .modal-form-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 12px;
    
    color: #212121;
 }

.form-field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
 }
 
 
.form-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px 42px;

    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 }

 .form-icon{
    position: absolute;
    bottom: 14px;
    left: 15px;

    width: 12px;
    height: 12px;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 }

 .form-icon.icon-form-tel{
    width: 13px;
    height: 13px;    
 }

 .form-icon.icon-form-mail{
    width: 15px;
    height: 12px;    
 }

 .form-input:hover,
 .form-input:focus,
 .form-field textarea:hover,
 .form-field textarea:focus{
    
    border: 1px solid #2196F3;
 }

 .form-input:hover ~ .form-icon,
 .form-input:focus ~ .form-icon{
    fill: var(--accent-color);
 }


 .form-lable{
    margin-bottom: 4px;
    text-align: left;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #757575;
 }

 
 textarea {
    resize: none;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;  
    padding: 12px 16px;   
 }

.reg-form .form-field:nth-child(5) {
    margin-bottom: 20px;
 }

 .form-field textarea::placeholder{
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
 }

.checkbox{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

 .chackbox-lable{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
 }

 .checkbox-icon{
     display: inline-block;
     width: 15px;
     height: 15px;
     border: 2px solid #2a2a2a;
     border-radius: 2px;

     margin-right: 7px;

     transition-property: border-color, background-color;
     transition-duration: 250ms;
     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
 }

 .checkbox:checked + .checkbox-icon{
     border-color: var(--accent-color);
     background-color: var(--accent-color);
     background-image: url('../images/icon-check.svg');
     background-size: contain;
     background-origin: border-box;


 }
.licens-link{
    margin-left: 5px;
    text-decoration: underline;
    color: var(--accent-color);
}


/* hero */
.overlay{
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: 
    linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/herobg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    }

.hero {
    background-color: var(--second-background-color);

    text-align: center;
    /* outline: 2px solid tomato; */
    padding: 200px 0;
}

.hero-title {
    color: #ffffff;

    margin-bottom: 30px; 

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
/* sections */
.section-title {
    color: var(--primary-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;

    margin-bottom: 50px;
}
.section-text {
    color: var(--second-text-color);
}

/* feature */
.visually-hidden {
   visibility: collapse;
   display: none;
}

.feature-list{
    /* outline: 1px solid teal; */
    display: flex;
    margin-left: -30px;
}

.feature-list > .item{
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    /* outline: 1px solid teal; */
}
.feature{
    display: flex;
    padding: 25px 0px 25px 0px;
    background-color: #F5F4FA;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.icon-feature{
    width: 70px;
    height: 70px;
}

.feature-list-title {
    color: var(--primary-text-color);

    /* margin-top: 0px; */
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.feature-list-text {
    color: var(--second-text-color);

    margin-top: 0px;
}

/* work */

.work-list{
    /* outline: 1px solid turquoise; */
    display: flex;
    padding: 0;
    margin-left: -30px;
}

.work-list>.item{
    position: relative;
    
    flex-basis: calc(100% / 3);
    margin-left: 30px;
    
}

.work-list-content-overlay{
    position: absolute;

    display: block;

    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;

    text-align: center;

    background-color: rgba(47, 48, 58, 0.8);
}

.work-list-content{

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 27px;
    margin-bottom: 27px;

    color: #FFFFFF;
}

/* team */
.team {
    background-color: #F5F4FA;
}

.team-card {
   display: flex;
   margin-left: -30px;
}

.team-item {
    flex-basis: calc(100% / 4);
    margin-left: 30px;
    background-color: var(--white-color);
}
.team-item-content {
    padding: 30px 0;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-list-title {
    color: var(--primary-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;

    margin-bottom: 10px;
}
.team-list-text {
    color: var(--second-text-color);

    font-size: 16px;
    line-height: 1.19;

    text-align: center;
}
.social{
    display: flex;
    margin-top: 16px;
    justify-content:center;
}

.social-item{
    text-align: center;
    background-color: var(--white-color);
 
}

.social-item:nth-child(n + 2) {
    margin-left: 10px;
  }

.social-link{
    display: flex;
    border-radius: 50%;
    fill: #afb1b8;
    margin: 0px;
    padding: 12px;

    transition-property: fill, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
     
    /* outline: 1px solid turquoise; */
}
.icon-social-link{
    width: 20px;
    height: 20px;
}
.social-link:hover,
.social-link:focus{
    fill: var(--white-color);
    background-color: var(--accent-background-color);
}

/* client section */
.client{
    /* outline: 1px solid teal; */
    display: flex;
    margin-left: -30px;
}

.client-item{
    flex-basis: calc(100% / 6 - 30px);
    margin-left: 30px;
    text-align: center;
    /* outline: 1px solid teal; */
}

.client-link{
    
    display: inline-block;
    border: 1px solid #494747;
    box-sizing: border-box;
    border-color: rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    fill: #afb1b8;
    margin: 0px;
    padding: 16px 32px 16px 32px;

    transition-property: fill, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
     
    /* outline: 1px solid turquoise; */
}
.icon-client-link{
    display: inline-block;
    align-items: center;
    width: 106px;
    height: 60px;
}
.client-link:hover,
.client-link:focus{
    fill: var(--accent-color);
    border-color: var(--accent-color);

    transition-property: fill, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}
/* footer */

.bottom{
    display: flex;
    align-items: baseline;
}
.footer-container:not(:last-child) {
    margin-right: 70px;
}

.footer-contact-title{
    color: var(--white-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-bottom: 20px;
}

.footer-contact{
    display: flex;
    width: 206px;
    height: 44px;
}

.footer-contact-item:nth-child(n + 2) {
    margin-left: 10px;
  }

.footer-social-link{
    display: flex;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    fill: white;
    margin: 0px;
    padding: 12px;
    justify-content: right;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);         
}

.icon-social-link-footer{
    width: 20px;
    height: 20px;
}
.footer-social-link:hover,
.footer-social-link:focus{
    background-color: var(--accent-background-color);

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 

}

.footer {
    position: relative;
    background-color: var(--second-background-color);

    padding-top: 60px;
    padding-bottom: 60px;

    /* outline: 2px solid tomato; */

}
.footer-logo {
    color: #ffffff;

    font-family: Raleway, cursive;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19x;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}
.footer-logo:hover,
.footer-logo:focus {
    color: var(--accent-color);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .adress {
    color: var(--white-color);

    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
} 
.footer-mail,
.footer-phone {
    color: rgba(255, 255, 255, 0.6);

    font-size: 14px;
    line-height: 1.7;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}
.footer-mail:hover,
.footer-mail:focus,
.footer-phone:hover,
.footer-phone:focus {
    color: var(--accent-color);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 

}
.footer-form{
    position: absolute;
    display: inline-block;
    right: 215px;
    top: 72px
}
.footer-form-title{
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-bottom: 20px;

    color: #FFFFFF;
}

.footer-form-input{
    width: 358px;
    height: 50px;

    background-color: var(--second-background-color);

    padding: 15px 16px;
    margin-right: 12px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    text-decoration-color: white;
}

.footer-form-input::placeholder{
    font-size: 16px;
    line-height: 1.25;
    /* identical to box height, or 125% */

    display: flex;
    align-items: center;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}

.button.primary.send{
    position: relative;
    text-align: left;
    padding: 10px 29px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;

    letter-spacing: 0.06em;
}

.icon_send{
    position: absolute;
    width: 24px;
    height: 24px;

    right: 28px;
    top: 13px;
}
/* portfolio page -> filter services section */

.filter {
  display: flex; 
  justify-content: center;
  margin-bottom: 50px;
}
.filter-item {
    flex-basis: calc (100% / 5 - 8px);
    margin-left: 8px;
    border-radius: 4px;
}

.filter-item:hover{
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);  
  }

.filter-item:focus{
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

}

.filter-item:first-child {
    margin-left: 0;
}

.services-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}
.services-text{
    font-size: 16px;
    line-height: 1.9;
}
.project{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-left: -30px;
    margin-top: -30px;
}
.project > .project-card {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc(100% / 3 - 30px);
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    
}

.card-content {
    /* outline: 1px solid red; */
    padding: 20px 24px;
}

.card-thumb{
    position: relative;
    overflow: hidden;
}
.card-overlay{
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    /* opacity: 0; */
}

.card:hover .card-overlay,
.card:focus .card-overlay {
    
    transform: translateY(0);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.card {
    display: block;
    box-shadow: none;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card:focus, 
.card:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
 
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card-description{
    position: absolute;

    font-size: 18px;
    line-height: 1.56;
    /* or 156% */

    letter-spacing: 0.03em;

    color: #FFFFFF;

    padding: 63px 24px;
}
/* button */

.button {
    display: inline-block;
    color: var(--primary-text-color);
    background-color: var(--white-color);
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    box-shadow: none;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:focus,
.button:hover{
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.button.primary {
    color: var(--white-color);
    background-color: var(--accent-background-color);
    padding: 10px 32px;
    min-width: 200px;
    min-height: 50px;
    box-shadow: none;

    transition-property: background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button.primary:hover,
.button.primary:focus {
    background-color: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition-property: background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button.secondary {
    color: var(--primary-text-color);
    background-color: #F5F4FA;
    border: none;
    padding: 6px 22px;
    min-width: 73px;
    min-height: 38px;
    box-shadow: none;

    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button.secondary:hover,
.button.secondary:focus {
    color: var(--white-color);
    background-color: var(--accent-background-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}