.features{
     /* outline: 1px solid teal; */
     display: flex;
     margin-left: -30px;
}

.features__item{
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
}
.features__content{
    display: flex;
    padding: 25px 0px 25px 0px;
    background-color: #F5F4FA;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
 
.features__icon{
    width: 70px;
    height: 70px;
}
 
.features__title {
    color: $primary-text-color;
    margin-bottom: 10px;
 
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.features__text {
    color: $second-text-color;
    margin-top: 0px;
}