header{
    border-bottom: 1px solid #ECECEC;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-header__nav {
    display: flex;
    align-items: center;
}