$primary-text-color: #212121;
$second-text-color: #757575;
$white-color: #ffffff;
$accent-color: #2196F3;
$primary-background-color: #ffffff;
$second-background-color: #2F303A;
$accent-background-color:#2196F3;